<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User Form</h1>

    <form action="/users/<%= user.id %>" method="POST">
      <input
        type="text"
        name="name"
        value="<%= user.name %>"
        placeholder="name"
      />
      <input
        type="text"
        name="email"
        value="<%= user.email %>"
        placeholder="email"
      />
      <input type="text" name="age" value="<%= user.age %>" placeholder="age" />
      <input
        type="text"
        name="address"
        value="<%= user.address %>"
        placeholder="address"
      />
      <input type="text" name="bio" value="<%= user.bio %>" placeholder="bio" />
      <input
        type="text"
        name="hobbies"
        value="<%= user.hobbies %>"
        placeholder="hobbies"
      />
      <div>
        <button type="submit">Update Details</button>
      </div>
    </form>
  </body>
</html>
