<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User Form</h1>

    <form action="/users/<%= user.id %>" method="PUT">
      <input type="text" value="<%= user.name %>" placeholder="name" />
      <input type="text" value="<%= user.email %>" placeholder="email" />
      <input type="text" value="<%= user.age %>" placeholder="age" />
      <input type="text" value="<%= user.address %>" placeholder="address" />
      <input type="text" value="<%= user.bio %>" placeholder="bio" />
      <input type="text" value="<%= user.hobbies %>" placeholder="hobbies" />
      <input type="submit" placeholder="submit" />
    </form>
  </body>
</html>
